.limit-detail-list-item {
  padding: 24px 0;

  .align-right {
    display: flex;
    justify-content: end;
  }
  .copy-address {
    .common-copy-content {
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
