.create-pair-wrap {
  z-index: 0;

  .create-cb-button-error {
    color: rgb(229 232 239 / 100%) !important;
    background-color: #6d293c !important;
    border-color: #6d293c !important;
    &:hover,
    &:focus {
      background-color: #6d293c !important;
      border-color: #6d293c !important;
    }
  }
}
