.leaderboard-entry-join {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

  .leaderboard-entry-join-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    color: #e5e8ef;
  }

  .leaderboard-entry-join-btn {
    margin-top: 24px;
    width: 460px;
    border-radius: 8px;
    height: 40px;
    span {
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
    }
  }
}

.mobile-site-content {
  .leaderboard-entry-join-title {
    font-size: 14px;
    line-height: 20px;
  }
  .leaderboard-entry-join-btn {
    margin-top: 32px;
    width: 100%;
  }
}
