.leaderboard-entry-page {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
  overflow: hidden;

  .leaderboard-image-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .leaderboard-background-image {
    width: 1382px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
  }
  .leaderboard-decorative-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 417px;
    width: 100%;
    min-width: 1440px;
  }

  .leaderboard-entry-content {
    width: 1024px;
    margin: 0 auto;
    z-index: 3;
    position: relative;
  }

  .leaderboard-entry-hero-section {
    margin-top: 80px;
    height: 292px;
    position: relative;

    .leaderboard-main-image {
      position: absolute;
      bottom: 16px;
      right: -40px;
      width: 400px;
    }
    .leaderboard-entry-hero-section-content {
      width: 660px;
      .leaderboard-entry-hero-section-tip {
        background: linear-gradient(90deg, #b76fff -16.97%, #44c1ff 43.75%, #53fff6 100%);
        padding: 10px 12px;
        margin: 0 auto;
        display: inline-block;
        border-radius: 4px;
        color: #101217;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        border-end-end-radius: 20px;
        border-start-start-radius: 20px;
        margin-bottom: 20px;
      }

      .leaderboard-entry-hero-section-title {
        position: relative;
        /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
        font-family: MontserratBold;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: transparent;
        background: linear-gradient(180deg, #8cc8ff 22.5%, #c7ebff 64.43%, #c7ebff 80%);
        background-clip: text;
        letter-spacing: -1px;
        margin-bottom: 20px;
      }

      .leaderboard-entry-hero-section-description {
        font-size: 14px;
        line-height: 20px;
        color: #9ba0b0;
      }
    }
  }

  .leaderboard-entry-sub-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 64px;
  }
}

.mobile-site-content {
  .leaderboard-entry-page {
    min-height: calc(100vh - 48px);

    .leaderboard-background-image {
      width: 864px;
    }
    .leaderboard-decorative-image {
      width: 960px;
      min-width: 960px;
      top: 261px;
    }

    .leaderboard-entry-content {
      width: 100%;
      padding: 0 16px;
    }

    .leaderboard-entry-hero-section {
      height: auto;
      margin-top: 24px;
      margin-bottom: 40px;
    }
    .leaderboard-entry-hero-section-content {
      width: 100%;
      .leaderboard-entry-hero-section-tip {
        font-size: 14px;
        line-height: 16px;
        padding: 4px 8px;
        border-end-end-radius: 8px;
        border-start-start-radius: 8px;
        margin-bottom: 12px;
      }

      .leaderboard-entry-hero-section-title {
        font-size: 32px;
        line-height: 39px;
        padding-right: 30px;
        margin-bottom: 12px;
      }

      .leaderboard-entry-hero-section-description {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }

    .leaderboard-entry-sub-section {
      gap: 40px;
      padding-bottom: 50px;
    }
  }
}
