.recent-tx-pc-table {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .common-table {
    .ant-table-thead {
      & > tr > th {
        padding: 0 6px;
        height: 44px;
        &:first-child {
          padding-left: 16px;
          padding-right: 6px;
        }
        &:last-child:not(.ant-table-cell-scrollbar) {
          padding-right: 16px;
          padding-left: 6px;
        }
      }
    }
    .ant-table-tbody {
      & > tr > td {
        max-width: 0;
        padding-left: 6px;
        padding-right: 6px;
        vertical-align: middle;
        &:first-child {
          padding-left: 16px;
          padding-right: 6px;
        }
        &:last-child {
          padding-right: 16px;
          padding-left: 6px;
        }
      }
    }
  }

  .ant-table-filter-trigger {
    margin: 0;
    padding: 6px 8px;
  }
  .pc-table-header {
    padding: 12px 0 16px;
  }
  .pc-table-operate {
    height: 65px;
    padding: 0 16px;
    background-color: var(--ant-container-bg-color);
    border-bottom: 1px solid var(--ant-gray-color);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
  .table-operate {
    width: 1px;
    height: 12px;
    background-color: var(--ant-gray-color);
    margin: 0 8px;
  }
  .transaction-table-box {
    border-radius: 8px;
    flex: 1;
    background-color: #1e212b;
  }

  .copy-address {
    .common-copy-content {
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .transaction-hash-wrap {
    display: flex;
    align-items: center;
    .transaction-hash-label {
      flex: 1;
    }
    .transaction-hash-link {
      word-break: break-all;
      font-size: 12px;
      line-height: 20px;
    }
    .transaction-hash-link:hover {
      text-decoration: underline;
    }
  }

  .pair-area {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    .pair-logo-wrap {
      line-height: 16px;
    }
    .pair-label-wrap {
      word-break: break-all;
    }
  }
}

.transaction-box {
  .ant-table {
    border-radius: 0 0 8px 8px;
  }
}
