.leaderboard-countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;

  .leaderboard-countdown-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #9ba0b0;
  }
}

.mobile-site-content {
  .leaderboard-countdown {
    flex-direction: column;
    gap: 12px;

    .leaderboard-countdown-title {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
