.my-token-list {
  width: 100%;

  .my-token-item {
    height: 64px;
    padding: 12px 24px;

    .icon-col {
      padding-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .balance-col {
      text-align: right;
    }
  }
}

.mobile-site-content {
  .my-token-item {
    padding: 12px 16px;
  }
}