.portfolio-page {
  padding: 24px 40px;

  .portfolio-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.mobile-site-content {
  .portfolio-page {
    background-color: var(--ant-bg2);
    padding: 24px 16px;
    .portfolio-page-header {
      margin-bottom: 24px;
    }
  }
}
